* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("images/bg-pattern-desktop.svg");
    font-family: 'Josefin Sans', sans-serif;
}

p, input {
    font-size: 16px;
}

/* Main container styling starts */
.container {
    display: flex;
    padding-left: 150px;
    height: 100vh;
}

/* Main container styling ends */



/* Content portion styling starts */
.content {
    padding-top: 50px;
}

.w-o-logo {
    margin-top: 100px;
}

.w-o-logo h1 {
    letter-spacing: 5mm;
    font-size: 50px;
    font-weight: 600;
}

.w-o-logo h1 span {
    font-weight: lighter;
    color: hsl(0, 36%, 70%);
}

.w-o-logo p {
    line-height: 6mm;
    margin-top: 15px;
    color: hsl(0, 36%, 70%);
}

.w-o-logo h1, .w-o-logo p {
    padding-right: 270px;
}

.w-o-logo input[type="email"] {
    width: 300px;
    padding: 12px 25px;
    margin-top: 30px;
    border-radius: 30px;
    border: 2px solid hsl(0, 36%, 70%);
}
.w-o-logo input::placeholder {
    color: hsl(0, 36%, 70%);
}

.w-o-logo .arrow-background {
    background-image: linear-gradient(hsl(0, 36%, 70%), hsl(0, 93%, 68%));
    display: inline-block;
    width: 80px;
    height: 48px;
    border-radius: 50px;
    position: relative;
    left: -70px;
    top: 4px;
    box-shadow: 1px 1px 5px rgb(112, 106, 106);
    cursor: pointer;
}
.arrow-background:hover {
    background-image: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.w-o-logo .arrow-icon {
    width: 10px;
    margin-left: 35px;
    margin-top: 16px;
}

#error {
    display: inline-block;
}
.error-icon {
    position: relative;
    left: -80px;
    top: 7px;
}
/* Content portion styling ends */

/* Image section styling starts */
.image {
    height: 100vh;
}
/* image section styling ends */